%h1 Courses

%table
  %tr
    %th Name
    %th Instructor
    %th
  -@courses.each do |course|
  %tr
    %td = course.name 
    %td= course.instructors.each do |instructor|
      = instructor.name 
      %td= link_to 'Show', course
      %td= link_to 'Edit', edit_course_path(course) %></td>
      %td= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } 
%br/
.bottom_link
  = link_to 'New Course', new_course_path
